<%- include('./includes/head.ejs') %>
</head>
<body class="w3-light-grey">
  <!-- Top container -->
    <%- include('./includes/top-container.ejs') %>
    <!-- Sidebar/menu -->
    <%- include('./includes/navigation.ejs') %>
    <main>
        <h1 class="w3-padding"> Page Not Found Error 404!</h1>
    </main>
    <!-- Footer -->
   <%- include('./includes/footer.ejs') %>
</body>
