<div class="col-sm-9 padding-right">
  <div class="features_items"><!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    <% if (books.length > 0) {
      let tempCntData = 0
    %>
      <%for (let i = 0; i < books.length; i++) {
        tempCntData +=1
      %>
        <%if (i == 0 || i%3 ==0) {
          tempCntData = 0
        %>
          <div class="row">
        <%}%>
        <form action="/" method="POST">
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                  <div class="productinfo text-center">
                    <img src="<%=books[i].imageUrl%>" alt=""/>
                    <h2>฿<%= books[i].price %></h2>
                    <p><%= books[i].title %></p>
                    <input type="hidden" name="bookId" value="<%= books[i].id %>">
                    <button class="btn btn-default add-to-cart" type="submit"><i class="fa fa-shopping-cart"></i>Add To Cart</button>
                  </div>
              </div>
            </div>
          </div>
          </form>
        <%if (tempCntData==2) {%>
        </div>
         <%}%>
      <%}%>
      
    <%} else {%>
        <h1>No Product Found!</h1>
    <%}%>
    
  </div><!--features_items-->
