<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>-SHOPPER</h1>
                                <h2>Promotion for Harry Potter</h2>
                                <p>ซื้อเล่มไม่ซํ้ากัน 2 เล่ม ลด 10% ของ 2 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 3 เล่ม ลด 20% ของ 3 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 4 เล่ม ลด 30% ของ 4 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 5 เล่ม ลด 40% ของ 5 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 6 เล่ม ลด 50% ของ 6 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 7 เล่ม ลด 60% ของ 7 เล่มนั้น</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/images/books/all_book.jpg" class="girl img-responsive" alt="" />
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>-SHOPPER</h1>
                                <h2>Promotion for Harry Potter</h2>
                                <p>ซื้อเล่มไม่ซํ้ากัน 2 เล่ม ลด 10% ของ 2 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 3 เล่ม ลด 20% ของ 3 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 4 เล่ม ลด 30% ของ 4 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 5 เล่ม ลด 40% ของ 5 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 6 เล่ม ลด 50% ของ 6 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 7 เล่ม ลด 60% ของ 7 เล่มนั้น</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/images/books/all_book.jpg" class="girl img-responsive" alt="" />
                                
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>-SHOPPER</h1>
                                <h2>Promotion for Harry Potter</h2>
                                <p>ซื้อเล่มไม่ซํ้ากัน 2 เล่ม ลด 10% ของ 2 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 3 เล่ม ลด 20% ของ 3 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 4 เล่ม ลด 30% ของ 4 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 5 เล่ม ลด 40% ของ 5 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 6 เล่ม ลด 50% ของ 6 เล่มนั้น <br>
                                    ซื้อเล่มไม่ซํ้ากัน 7 เล่ม ลด 60% ของ 7 เล่มนั้น</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/images/books/all_book.jpg" class="girl img-responsive" alt="" />
                                
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->