<%- include('../includes/head.ejs') %>
</head>
<body class="w3-light-grey">
  <!-- Top container -->
  <%- include('../includes/top-container.ejs') %>
    <!-- Sidebar/menu -->
  
    <section id="cart_items">
      <div class="container">
        <div class="breadcrumbs">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Shopping Cart</li>
          </ol>
        </div>
        <div class="table-responsive cart_info">
          <table class="table table-condensed">
            <thead>
              <tr class="cart_menu">
                <td class="image">Item</td>
                <td class="description"></td>
                <td class="price">Price</td>
                <td class="quantity">Quantity</td>
                <td class="total">Total</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            
              <%for (let i = 0; i < carts.length; i++) {%>
                <tr>
                  <td class="cart_product" >
                    <img src="<%=carts[i].imageUrl%>" alt="" width="140px" height="140px">
                  </td>
                  <td class="cart_description">
                    <h4><a href=""><%=carts[i].title%></a></h4>
                    <p>Web ID:  <%=carts[i].id%></p>
                  </td>
                  <td class="cart_price">
                    <p>฿ <%=carts[i].price%></p>
                  </td>
                  <td class="cart_quantity">
                    <div class="cart_quantity_button">
                      <a class="cart_quantity_up" href=""> + </a>
                      <input class="cart_quantity_input" type="text" name="quantity" value="<%=carts[i].qty%>" autocomplete="off" size="2">
                      <a class="cart_quantity_down" href=""> - </a>
                    </div>
                  </td>
                  <td class="cart_total">
                    <p class="cart_total_price">$<%=carts[i].price * carts[i].qty%></p>
                  </td>
                  <td class="cart_delete">

                    <form action="/cart-del" method="POST">
                        <input type="hidden" name="bookId" value="<%= carts[i].id %>">
                        <input type="hidden" name="bookId" value="<%= carts[i].price %>">
                        <button class="cart_quantity_delete" type="submit"><i class="fa fa-times"></i></button>
                    </form>
                   
                  </td>
                </tr>
              <%}%>
            
            </tbody>
          </table>
        </div>
      </div>
    </section> <!--/#cart_items-->
    <%- include('summaryCart.ejs') %>
    <!-- Footer -->
   <%- include('../includes/footer.ejs') %>
</body>